<div class="container">
  <h2>Add Payment</h2>
  <form (ngSubmit)="onSubmit()" #addForm="ngForm">

    <div>
      <label>First Name (required):</label>
      <input
        [(ngModel)]="newPayment.payee_first_name"
        name="payee_first_name"
        required
      />
    </div>

    <div>
      <label>Last Name (required):</label>
      <input
        [(ngModel)]="newPayment.payee_last_name"
        name="payee_last_name"
        required
      />
    </div>


    <div>
      <label>Address Line 1 (required):</label>
      <input
        [(ngModel)]="newPayment.payee_address_line_1"
        name="payee_address_line_1"
        required
      />
    </div>


    <div>
      <label>Address Line 2 (optional):</label>
      <input
        [(ngModel)]="newPayment.payee_address_line_2"
        name="payee_address_line_2"
      />
    </div>


    <div>
      <label>Postal Code (required):</label>
      <input
        [(ngModel)]="newPayment.payee_postal_code"
        name="payee_postal_code"
        required
      />
    </div>

    <div>
      <label>Country:</label>
      <select
        [(ngModel)]="newPayment.payee_country"
        name="country"
        (change)="onCountryChange(newPayment.payee_country)">
        <option value="" disabled>Select Country</option>
        <option *ngFor="let c of countryList" [value]="c.name">
          {{ c.name }}
        </option>
      </select>
    </div>
        

    <div>
      <label>Province/State:</label>
      <select
        [(ngModel)]="newPayment.payee_province_or_state"
        name="payee_province_or_state"
        (change)="onStateChange(newPayment.payee_province_or_state)"
      >
        <option value="" disabled selected>Select Province/State</option>
        <option *ngFor="let s of stateList" [value]="s">
          {{ s }}
        </option>
      </select>
    </div>

    <div>
      <label>City:</label>
      <select [(ngModel)]="newPayment.payee_city" name="city">
        <option value="" disabled selected>Select City</option>
        <option *ngFor="let c of cityList" [value]="c">
          {{ c }}
        </option>
      </select>
    </div>


    <div>
      <label>Phone Number (required, E.164):</label>
      <input
        [(ngModel)]="newPayment.payee_phone_number"
        name="payee_phone_number"
        required
      />
    </div>

    <div>
      <label>Payee Email (required):</label>
      <input
        [(ngModel)]="newPayment.payee_email"
        name="payee_email"
        type="email"
        required
      />
    </div>

    <div>
      <label>Currency:</label>
      <select [(ngModel)]="newPayment.currency" name="currency">
        <option value="" disabled>Select Currency</option>
        <option *ngFor="let c of currencyList" [value]="c.currency">
          {{ c.currency }}
        </option>
      </select>
    </div>
    
    <div>
      <label>Discount (%) (optional):</label>
      <input
        [(ngModel)]="newPayment.discount_percent"
        name="discount_percent"
        type="number"
        step="0.01"
      />
    </div>

    <div>
      <label>Tax (%) (optional):</label>
      <input
        [(ngModel)]="newPayment.tax_percent"
        name="tax_percent"
        type="number"
        step="0.01"
      />
    </div>

    <div>
      <label>Due Date (YYYY-MM-DD):</label>
      <input
        [(ngModel)]="newPayment.payee_due_date"
        name="dueDate"
        type="date"
        required
      />
    </div>

    <div>
      <label>Due Amount (required):</label>
      <input
        [(ngModel)]="newPayment.due_amount"
        name="due_amount"
        type="number"
        step="0.01"
        required
      />
    </div>


    <button (click)="onSubmit()">Submit Payment</button>
    <button type="button" routerLink="/payments">Cancel</button>
  </form>
</div>








